_ReSharper.a-pathfinding-project-csharp/
debugreplay.txt
/Assets/StreamingAssets/Config/
/Assets/StreamingAssets/shared/kits
/Assets/StreamingAssets/shared/savedgames
/Assets/StreamingAssets/shared/savedgames.meta
/Assets/StreamingAssets/shared/soundtrack/FT_s1_v6.mp3
/Assets/StreamingAssets/shared/soundtrack/FT_s1_v6.mp3.meta
/uncrustify
keymap.json
/Temp/
.bik
.mp4
/Assets/StreamingAssets/shared/inventory/compendium.zip
/Assets/StreamingAssets/shared/inventory/compendium.zip.meta
/Assets/StreamingAssets/Data
/Assets/StreamingAssets/Data.meta
*~origin*
*.orig
*.BACKUP.*
*.REMOTE.*
*.LOCAL.*
*.BASE.*
*.ORIG.*
/Library/
.mayaSwatches
.DS_STORE
.DS_Store
/tmp
Human Village.zip
Human Village*
/Assets/StreamingAssets/shared/settings/Panel_Dockable*
data.zip
Assets/StreamingAssets/shared/kits/**/*.unity3d
Assets/StreamingAssets/shared/kits/**/*.unity3d.meta
#*.unity3d.meta
*.backup
*.sln
*.csproj
*.pidb
*.unityproj
*.userprefs
*.patch
/Backups/
/Builds/
/Documentation/html/
/Documentation/perlmod/
/Documentation/xml
/Documentation/latex
*.user
*.suo
/Packages/
/Documentation/
preventmdreload.sh
scenepost2.py
*.sublime-project
*.sublime-workspace
*.fbm
*.fbm.meta
/obj/Debug/
